.hero_enter {
    opacity: 0;
}

.hero_enter_active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.hero_exit {
    opacity: 1;
}

.hero_exit_active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}